body {
  background-color: linen;
  font-family: MuseoSans_500;
  text-align: center;
}

div {
  border: 5px solid #3c370d;
  display: inline-block;
}

.img {
  border-radius: 50%;
  border: 5px solid #464c1e;
}

.inspiration {
  background-color: #777f34;
  height: 700px;
  width: 700px;
  display: inline-block;
}

#title {
  font-size: 50px;
  background-color: #db755e;
  color: #6c2006;
  margin: auto;
  padding: 20px;
}

.palette {
  background-color: #ddb389;
  width: 800px;
}

.dot {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: inline-block;
}

.dot.one {
  background-color: #e1d5bb;
}

.dot.two {
  background-color: #6c2006;
}

.dot.three {
  background-color: #777f34;
}

.dot.four {
  background-color: #db755e;
}

#square {
  height: 100px;
  width: 100px;
  background-color: #6c2006;
  display: inline-block;
}

.neat {
  color: white;
  background-color: #373E42;
  font-weight: bolder;
}
      h2 {
           color: #3c370d;
           font-size: 40px;
      }
      * {
        font-family: verdana;
     }

